.content
    .jumbotron
        .container
            .page-header
                %h1
                    Hello there!
            = link_to 'Admin', 'admin', { class: 'btn btn-primary btn-large' }
            = link_to 'Counter', 'counter', { class: 'btn btn-primary btn-large' }
